# ==============================
# 全局忽略（你的整个 code 文件夹）
# ==============================

# VS 缓存
.vs/

# VSCode
.vscode/

# Keil 编译产物（完美匹配你的目录结构）
Keil/**/Listings/
Keil/**/Objects/
Keil/**/Output/
Keil/**/Build/
Keil/**/Debug/
Keil/**/Release/

# Keil 编译文件
*.uvgui.*
*.uvopt
*.uvoptx
*.bak
*.tmp
*.o
*.obj
*.lst
*.map
*.hex
*.bin
*.axf
*.elf
*.dep
*.lnp
*.crf
*.htm
*.plg
*.log

# 其他工具临时文件
*.i
*.d
*.swp
.DS_Store